#sketch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

canvas {
  width: 700px;
  height: 700px;
  display: block;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}
#sketchDiv{
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
#tagDiv{
  position: absolute;
  left: calc(50vw - 132.5px);
  top: calc(50vh);
  
}
